header{
  padding:50px 10px;
  margin:15px;
}
header{
  display: flex;
  justify-content:center;
  align-items: center;
}
nav{
  text-align: center;

}

h1{
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 60px;
}
}

.title-container {
position: relative;
width: 100%;
}


.title-container img {
width: 100%;
height: auto;
justify-content: center;
}


.title-container .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #555;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}
